#logo {
  margin-top: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  color: white;
  font-family: Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}

body {
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
}

#interaction-region {
  min-width: 440px;
  text-align: center;
  height: 400px;
  border: thin solid white;
  border-radius: 30px;
  background-size: 100% 100%;
  background: url("/static/background.png");
}

#interaction-region #file-upload {
  margin: 30px;
  position: relative;
  bottom: 20px;
}

#interaction-region #output-region {
  display: flex;
  width: 440px;
  margin: auto;
  justify-content: space-around;
  position: relative;
  left: 10px;
  bottom: 20px;
}

#interaction-region > element {
  flex: 1;
}

#instructions {
  flex: 1 0 0;
  position: relative;
  min-width: 300px;
  padding: 30px;
}

#instructions p {
  min-width: 250px;
  height: auto;
}

#made-image {
  margin-bottom: 20px;
}