#logo {
  margin-top: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#interaction-region {
  min-width: 440px;
  text-align: center;
  height: 400px;
}

#interaction-region #file-upload {
  margin: 30px;
}

#interaction-region #output-region {
  display: flex;
  width: 440px;
  margin: auto;
  justify-content: space-around;
  position: relative;
  left: 20px;
}

#interaction-region > element {
  flex: 1;
}

#instructions {
  flex: 1 0 0;
  position: relative;
  min-width: 300px;
  padding: 30px;
}

#instructions p {
  min-width: 250px;
  height: auto;
}
