<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Image2Latex</title>
  <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

  <!-- Toastr -->
  {{ toastr.include_jquery() }}
  {{ toastr.include_toastr_css() }}
  {{ toastr.message() }}
</head>

<body>
  {{ toastr.include_toastr_js() }}
  <h1 class="text">image2LaTeX</h1>
  <h3 class="text">Ignition Hacks 2021</h3>
  <div class="p-wrapper">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis ac augue non viverra. Aliquam id nisi aliquam, fermentum odio eget, egestas nulla. Sed venenatis vulputate posuere. Integer tristique malesuada nunc tincidunt tempor. Aliquam eu efficitur nisi.</p>
  </div>
  <div class="upload-btn-wrapper">
    <form method=post action={{ url_for('upload_file') }} enctype=multipart/form-data>
      <input type=file name="file" onchange="this.form.submit()">
    </form>
    <button class="btn">UPLOAD IMAGE</button>
  </div>
  {% if number_guess is not none %}
    <p> Your number is {{number_guess}}</p>
  {% endif %}
  <div class="p-wrapper">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis ac augue non viverra. Aliquam id nisi aliquam, fermentum odio eget, egestas nulla. Sed venenatis vulputate posuere. Integer tristique malesuada nunc tincidunt tempor. Aliquam eu efficitur nisi.</p>
  </div>
</body>

</html>
