<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Image2Latex</title>
  <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

  <!-- Toastr -->
  {{ toastr.include_jquery() }}
  {{ toastr.include_toastr_css() }}
  {{ toastr.message() }}
</head>

<body>
  {{ toastr.include_toastr_js() }}
  <h1 class="text">image2num</h1>
  <h3 class="text">Ignition Hacks 2021</h3>
  <div class="p-wrapper">
    <p>An application which uses neural network training for number recognition in high-contrast images. <br> Upload an image (.png, .jpg, .jpeg) with a black background and white digits. You can also find sample images to try at <a href="https://github.com/rockoac5/i2n-sample-images"></a></p>
  </div>
  <div class="upload-btn-wrapper">
    <form method=post action={{ url_for('upload_file') }} enctype=multipart/form-data>
      <input type=file name="file" onchange="this.form.submit()">
    </form>
    <button class="btn">NEW IMAGE</button>
  </div>
  {% if number_guess is not none %}
    <h3 class="text"> Your number is {{number_guess}}</h3>
  {% endif %}
  <h3 class="text">FAQ</h3>
  <div class="p-wrapper">
    <p><b>How does this program work?</b> <br>
    We used PyTorch, an open-source machine learning framework for Python to train our program to recognize numbers using a neural network. <br>
    <b>What programming tools were utilized to build this program?</b>
    We trained the neural network on the MNIST handwritten digits database using PyTorch in the venv Python virtual environment; web development was done with the Flask micro web framework, and Figma was also used for the UI design of the website. <br>
    <b>What was the intention/motive of this project?</b> <br>
    This project was our submission for the Ignition Hacks 2021 hackathon's Project Sigma division. The hackathon had machine learning/artificial intelligence as its main theme, and we were also inspired to create something with aspects of education/mathematics. <br>
    <b>What are the next steps for this project?</b>
    Our initial idea was to develop an application which would recognize mathematical equations in an image and convert that into the MathJax mathematical notation language (a subset of LaTeX). However, this was not feasible during the duration of the hackathon, and we will be iterating on this in the future.
  </div>
</body>

</html>